{% extends "base.html" %}
{% block content %}

<h3>Created with <a href="{{ app.permalink_url }}">{{ app.name }}</a></h3>
<div class="tab-ui">
  <ul class="tabs">
    <li class="current" name="{{ app.id }}">Order by date</li>
    <li name="{{ app.id }}">Order by hotness</li>
  </ul>

  <ul class="tab-content-container">
    <li class="tab-content current">
      {% include "_tracks.html" %}
    </li>
    <li class="tab-content"></li>
  </ul>

  <div class="pager">
    {% for i in range(1, npages + 1) %}
      {% if page == i %}
        {{ i }} 
      {% else %}
        <a href="{{ url_for('details', app_id=app.id, page=i) }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
